* {
    box-sizing: border-box
}

:root {
    --color-1: #4285F4;
    --color-2: #DB4437;
    --color-3: #F4B400;
    --color-4: #0F9D58;
}


.wrapper {
    background: #000;
    line-height: 1;
    display: grid;
    place-items: center;
    min-height: calc(100vh - 16px);
}

.googleText {
    font-family: "Exo", sans-serif;
    font-size: 15vw;
    font-weight: 900;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg,
    var(--color-1) 19%,
    transparent 19%, transparent 20%,
    var(--color-2) 20%, var(--color-2) 39%,
    transparent 39%, transparent 40%,
    var(--color-3) 40%, var(--color-3) 59%,
    transparent 59%, transparent 60%,
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%,
    var(--color-1) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
